@import "./elements/header.css";
@import "./elements/card.css";

* {
  --color_white: #ffff;
  --color_black: #000;
  --color_silver: #383838;
  --color_silver_secundary: #737373;
  --theme_black: #212121;

  font-family: "Roboto", sans-serif;
}

body {
  /*background-color: var(--theme_black);*/
  background-color: var(--color_white);
}

a,
button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container__main {
    padding: 16px;
  }
}

@media (min-width: 999px) {
}
